.btnSend:hover{
    top: 934px;
    left: 1140px;
     width: 6vw;
      height: 4vh;
       border:1px solid#FFFFFF ;
        background-color: #DB0E65;
         border-radius: 5px;
          opacity: 1;
           padding: 1px 2px;
            margin-top: 10px;
             font-size:1vw}
.btnSend{
    top: 934px;
    left: 1140px;
     width: 6vw;
      height: 4vh;
       border:1px solid #DB0E65;
        background-color: #FFFFFF;
         border-radius: 5px;
          opacity: 1;
           padding: 1px 2px;
            margin-top: 10px;
             font-size:1vw
}